#container{
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:transparent;
}

#parent{
    margin:100px auto;
    width: 600px;
    height: 200px;
    background-color: lightblue;
    border-radius: 200px;
    padding: 20px 0 0 20px;
    transition: 1.5s;
}

#parent:hover{
    background-color: black;
}

#child1{
    float: left;
    width: 180px;
    height: 180px;
    background-color: lightsalmon;
    transition: 1.5s;
    border-radius: 100px;
    
}

#parent:hover #child1{
    transform: translateX(222%);
    background-color: white;
    
}


#child2{
    float: left;
    width: 180px;
    height: 180px;
    background-color:transparent;
   
    border-radius: 100px;
}


#parent:hover #child2{
    background-color: white;
    transform: translateX(-100%);
}

#child3{
    float: left;
    width: 50px;
    height: 100px;
    background-color:transparent;
}

#parent:hover #child3{
    background-color: white;
    transform: translate(-180%, 50%);
    transition: 1.5s;

    
}

.eye{
    float: left;
    width: 50px;
    height: 50px;
    background-color:transparent;
    border-radius: 50px;
}

#parent:hover #righteye{
    background-color: black;
    transition: 1.5s;
    transform: translate(120%,120%);
}

#parent:hover #lefteye{
    background-color: black;
    transition: 1.5s;
    transform: translate(-800%,120%);
}

#neck{
    margin: -100px 0 0 0;
    width: 150px;
    height: 180px;
    background-color:transparent;
    margin: 200px 0 0 220px;
    
}

#body{
    border-radius: 25px;
    width: 500px;
    height: 300px;
    background-color:transparent;
    margin:0 0 0 50px;
    
}

#parent:hover #neck{
    transition: 1.5s;
    background-color: black;
}

#parent:hover #body{
    transition: 1.5s;
    background-color: black;
}