#container{
    justify-content: space-evenly;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 500px;
    border: 1px solid black;
    align-items: center;
}

#programGenereted{
    padding: 50px;
    text-align: center;
    width: 100px;
    height: 20px;
    border: 1px solid black;
}